/* general rules */
header {
    background-color: #f8f9fa;
    width: 100vw;
    height: 100px;
    position: relative;
    z-index: 999;
}

main {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

/* header rules */
.ms_logo {
    font-size: 2.5rem;
    font-weight: 600;
}

.form-control {
    background-color: #e9ecef;
}

.form-control:focus {
    background-color: #e9ecef;
    border: none;
}

.fa-bell {
    color: #ff8f00;
}

.nav a {
    color: #5b5858;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu.show {
    right: 0;
    left: initial;
}

.ms_hover_none:hover {
    color: #5b5858;
    cursor: default;
}

/* main rules */

/* ms_main_left rules */
#ms_main_left {
    width: 70px;
    height: 100%;
    background-color: #062034;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ms_container_link {
    height: 300px;
    padding: 20px 10px;
    font-size: 1.5rem;
}

.ms_container_link.ms_bottom {
    height: 100px;
}

.ms_slot_link {
    margin-bottom: 20px;
    padding: 5px 10px;
}

.ms_slot_link > a {
    color: #fff;
    text-decoration: none;
}

.ms_name_link {
    margin-left: 10px;
    display: none;
}

.ms_slot_link:hover {
    background-color: #838d95;
}

/* ms_main_right rules */
#ms_main_right {
    width: calc(100vw - 70px);
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    /* debug */
    background-color: blue;
    font-size: 2.5rem;
}



/* responsive rules */
@media screen and (min-width: 992px) {

    /* ms_main_left rules */
    #ms_main_left {
        width: 200px;
    }

    #ms_main_right {
        width: calc(100vw - 200px);
    }

    .ms_name_link {
        display: inline-block;
    }

}