/* general rules */
header {
    background-color: #f8f9fa;
    width: 100vw;
    height: 100px;
    position: relative;
    z-index: 999;
}

main {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

.ms_color_f8f9fa {
    background-color: #f8f9fa;
}

.ms_color_fff {
    background-color: #fff;
}

/* header rules */
.ms_logo {
    font-size: 2.5rem;
    font-weight: 600;
}

.form-control {
    background-color: #e9ecef;
}

.form-control:focus {
    background-color: #e9ecef;
    border: none;
}

.fa-bell {
    color: #ff8f00;
}

.nav a {
    color: #5b5858;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu.show {
    right: 0;
    left: initial;
}

.ms_hover_none:hover {
    color: #5b5858;
    cursor: default;
}

/* main rules */

/* ms_main_left rules */
#ms_main_left {
    width: 70px;
    height: 100%;
    background-color: #062034;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ms_container_link {
    height: 300px;
    padding: 20px 10px;
    font-size: 1.5rem;
}

.ms_container_link.ms_bottom {
    height: 100px;
}

.ms_slot_link {
    margin-bottom: 20px;
    padding: 5px 10px;
}

.ms_slot_link > a {
    color: #fff;
    text-decoration: none;
}

.ms_name_link {
    margin-left: 10px;
    display: none;
}

.ms_slot_link:hover {
    background-color: #838d95;
}

/* ms_main_right rules */
#ms_main_right {
    width: calc(100vw - 70px);
    height: 100%;
    overflow-y: auto;
}

.ms_info_slot {
    background-color: #1b72e8;
    color: #fff;
    width: 100%;
    min-height: 200px;
}

#ms_title_info {
    font-size: 3rem;
}

.ms_btm_info {
    padding: 5px 10px;
    background-color: #165bba;
    border-radius: 30px;
}

.ms_number_student_online {
    font-size: 3rem;
}

.ms_border_table {
    border: solid 1px #d2d2d2;
    border-radius: 10px;
}

.ms_name_table_slot {
    background-color: #f7f7f7;
    padding: 5px;
    border-bottom: solid 1px #d2d2d2;
}

.ms_icon_class_name {
    color: #fff;
    background-color: #f26551;
    padding: 5px;
    border-radius: 50%;
}

.ms_state_class {
    font-size: 0.8rem;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.ms_state_class.done {
    background-color: #198754;
}

.ms_state_class.process {
    background-color: #ffc107;
}

.ms_state_class.failed {
    background-color: #dc3545;
}

.fa-pencil, .fa-trash {
    color: #6c757d;
    padding: 10px;
    border: solid 1px #6c757d;
    border-radius: 10px;
}


/* responsive rules */
@media screen and (min-width: 992px) {

    /* ms_main_left rules */
    #ms_main_left {
        width: 200px;
    }

    #ms_main_right {
        width: calc(100vw - 200px);
    }

    .ms_name_link {
        display: inline-block;
    }

}