/* general rules */
header {
    background-color: #f8f9fa;
    width: 100vw;
    height: 100px;
    position: relative;
    z-index: 999;
}

main {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

/* header rules */




/* main rules */
#ms_main_left {
    width: 200px;
    height: 100%;
    background-color: #062034;
}

#ms_main_right {
    width: calc(100vw - 200px);
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    /* debug */
    background-color: blue;
    font-size: 2.5rem;
}

